.jfx-button {
    -fx-font-weight: bold;
}

BehaviorList, Behavior{
    -fx-background-color: #373737;
    -fx-padding: 15;
}

Behavior{
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.root {
    -fx-background-color: #373737;
}

AnchorPane{
    -fx-background-color: #8e8e8e;
}

.scroll-pane AnchorPane{
    -fx-background-color: #8e8e8e;
}

.label {
    -fx-text-fill: White;
}

#behaviorList {
    -fx-background-color: #616161;
}

.behavior:hover {
    -fx-scale-y: 1.1;
}

.behavior:selected {
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-border-color: #80deea;
    -fx-border-radius: 3;
}

.jfx-button:choiceButton {
    -fx-margin-top: 10;
    -fx-margin-bottom: 10;
    -fx-padding: 3 10 3 10;
}

.jfx-button:hover {
    -fx-font-size: 14;
}

.jfx-button {
    -fx-font-size: 14;
}

